html, body, .container {
    height: 100%;
    width: 100%;
}

.container {
    text-align: center;
}

#instructions {
    height: 100px;
}

#x , #o {
    display: inline-block;
    border: 1px solid black;
    width: 120px;
}

#gameboard {
    margin: auto;
    height: 360px;
    width: 360px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square {
    padding: 41px 0;
    flex: 1 0 120px;
    text-align: center;
    font-size: xx-large;
}

.top {
    box-shadow: 1px 1px 0 0 black;
}

.mid {
    box-shadow: 1px 1px 0 0 black;
}

.bot {
    box-shadow: 1px 0 0 0 black;
}

.right {
    box-shadow: 0 1px 0 0;
}

#botRight {
    box-shadow: 0 0 0 0;
}

.hidden {
    visibility: hidden;
}